# Dependencies
node_modules

# Ignore built ts files
build/**/*

# ignore yarn.lock
yarn.lock

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage
